input[type="radio"] {
	/* Add your CSS styles here */
	/* For example, you can change the background color */
	background-color: yellow;
	display: inline;
}

input {
	display: block;
	margin-bottom: 10px;
}

input>form {
	background-color: aquamarine;
	width: 30%;
	padding: 20px;
	text-align: center;
}

.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}